@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #101010;
}

.radialG {
  background: radial-gradient(
    762.45% 138.31% at 4.44% 0%,
    #574ae2 0%,
    #222a68 100%
  );
}

.headingGradient {
  background: linear-gradient(94deg, #fff 1.65%, #fff 49.19%, #fff 86.95%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
