@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #101010;
}

html {
  scroll-behavior: smooth;
}

.radialG {
  background: radial-gradient(
    762.45% 138.31% at 4.44% 0%,
    #574ae2 0%,
    #222a68 100%
  );
}

.headingGradient {
  background: linear-gradient(94deg, #fff 1.65%, #fff 49.19%, #fff 86.95%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.border-d {
  border: 1.5px dashed #574ae2;
}
.border-p {
  border: 1.5px solid #574ae2;
}

.process-bg {
  background: linear-gradient(180deg, #030303 18.75%, rgba(3, 3, 3, 0) 81.77%);
}

.story-gradient {
  background: linear-gradient(94deg, #978dff 1.65%, #574ae2 86.95%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
